*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 800px;
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}

h1{
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 2rem 0;
}

.left{
    width: 400px;
}

.right{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input[type=text]{
    width: 100%;
    background-image: url('/images/bxs-user.svg');
    background-repeat: no-repeat;
    padding: 10px 0 0 40px;
    border: none;
    border-bottom: 1px solid #706e6efa;
}

input[type=password]{
    width: 100%;
    background-image: url('/images/bx-lock-alt.svg');
    background-repeat: no-repeat;
    padding: 10px 0 0 40px;
    border: none;
    border-bottom: 1px solid #706e6efa;
}

input[type=email]{
    width: 100%;
    background-image: url('/images/bxs-envelope.svg');
    background-repeat: no-repeat;
    padding: 10px 0 0 40px;
    border: none;
    border-bottom: 1px solid #706e6efa;
}

::placeholder{
    font-size: 17px;
    padding: 0 0 10px 0;
}

.terms{
    display: flex;
    gap: 12px;
    margin: 2rem 0 ;
}

button{
    width: 100%;
    font-size: 1rem;
    padding: 10px 0;
    margin: 0 0 1.2rem 0;
    border: none;
    box-shadow:1px 1px 1px #000;
}

a{
    color: #000;
    font-size: 18px;
    font-weight: 100;
}

img{
    width: 320px;
    margin: 1rem 0 0 0;
}

#member{
    text-align: right;
}

/* media query */
@media screen and (max-width: 820px){
    .container{
        gap: 2rem;
    }
}

@media screen and (max-width: 768px){
    .container{
        flex-direction: column-reverse;
        gap: 3rem;
        margin: 3rem auto;
    }
    h1{
        text-align: center;
    }
    .left{
        width: 600px;
    }
    a{
        font-size: 26px;
    }
    button{
        margin: 2rem 0;
    }
}

@media screen and (max-width: 540px){
    .left{
        width: 400px;
    }
}


@media screen and (max-width: 414px){
    .left{
        width: 360px;
    }
    .terms a, .terms{
        font-size: 19px;
    }
}

@media screen and (max-width: 360px){
    img{
        width: 300px;
    }
    .right a{
        font-size: 16px;
    }
    .left a{
        font-size: 16px;
    }
    .left{
        width: 320px;
    }
}

@media screen and (max-width: 280px){
    img{
        width: 250px;
    }
    h1{
        font-size: 2rem;
    }
    .left{
        width: 250px;
    }
    ::placeholder{
        font-size: 13px;
    }
}