*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 800px;
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
}

input[type=text]{
    width: 100%;
    background-image: url('/images/bxs-user.svg');
    background-repeat: no-repeat;
    padding: 10px 0 0 40px;
    border: none;
    border-bottom: 1px solid black;
}

input[type=password]{
    width: 100%;
    background-image: url('/images/bx-lock-alt.svg');
    background-repeat: no-repeat;
    padding: 10px 0 0 40px;
    border: none;
    border-bottom: 1px solid black;
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


h1{
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 2rem 0;
}

.left{
    display: flex;
    flex-direction: column;
    
}

.right{
    width: 300px;
}

button{
    width: 50%;
    font-size: 1rem;
    padding: 17px 0;
    margin: 0 0 1.2rem 0;
    background-color: rgb(114, 146, 235);
    color: #fff;
    border: none;
    border-radius: 7px;
}

.terms{
    display: flex;
    gap: 12px;
    margin: 2rem 0 ;
}

a{
    color: #000;
    font-size: 18px;
    font-weight: 100;
    margin: 20px 0 0 0;
}

#member{
    text-align: center;
}

img{
    margin: 20px 0 0 0;
}

/* media query */
@media screen and (max-width: 820px){
    .container{
        gap: 2rem;
    }
}

@media screen and (max-width: 540px){
    img{
        width: 200px;
    }
    .right{
        width: 260px;
    }
    h1{
        font-size: 1.9rem;
    }
    form{
        margin: 1rem 0 0 0;
    }
}


@media screen and (max-width: 414px){
    .left{
        width: 180px;
    }
    .terms a, .terms{
        font-size: 19px;
    }
    .container{
        gap: 10px;
    }
    .right{
        width: 150px;
    }
    img{
        width: 190px;
    }
    button{
        width: 100%;
    }
}

@media screen and (max-width: 280px){
    
}